* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #edeaea;
    color: black;
}
.name {
    max-width: 630px;
    margin: 23px auto 64px;
    background-color: rgb(182, 176, 215);
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgb(65, 54, 54);
}
h2 {
    margin-top: auto;
}
.field {
    display: grid;
    gap: 8px;
    margin: 14px 0;
}
label {
    font-weight: 600;
}
input[type="text"], select {
    padding: 10px 12px;
    border: 2px solid #d1d5db;
    border-radius: 10px;
    outline: none;
}
input[type="text"]:focus, select:focus 
{
    border-color: cadetblue;
    box-shadow: 0 0 0 4px rgba(79, 70, 229);
}
button {
   margin-top: 8px;
   padding: 10px 14px;
   border: none;
   border-radius: 10px;
   background-color: #a546e5;
   color: #fff;
   font-weight: 600;
   cursor: pointer;
}
button:hover{
    filter: brightness(0.95);
}
body {
    transition: background-color 0.5s ease-in;
}
