body {
    background-color: #d6c5c5;
    font-family: 'Times New Roman', Times, serif;
}
h1, h2 {
    color: rgb(232, 106, 132);
}
img {
    border: 4px solid rgb(98, 188, 226);
    border-radius: 10px;
    padding: 6px;
}
p, li {
    font-size: medium;
    line-height: normal;
}
#item-title {
    color: rgb(35, 104, 231);
    font-style: italic;
}
h1, h2 {
    text-shadow: 5px 5px 10px rgb(210, 35, 172);
}
